hack flow.json
[{"id":"bee3cdb1.2982c","type":"tab","label":"autoai","disabled":false,"info":""},{"id":"1d5f27a7.fda968","type":"http request","z":"bee3cdb1.2982c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":100,"wires":[["1ae1cf11.f33761","6b732e.10584cd4","80011afa.ef6d78"]]},{"id":"1ae1cf11.f33761","type":"function","z":"bee3cdb1.2982c","name":"Pre Prediction","func":"var d = global.get('d')\nvar ws = global.get('ws')\nvar wd = global.get('wd')\nvar t = global.get('t')\nvar token=msg.payload.access_token\nvar instance_id=\"37f94100-9725-4e12-bfb0-b271976c93b2\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Date/Time\",\"Wind_Speed_(m/s)\",\"Theoretical_Power_Curve (KWh)\", \"Wind_Direction_(째)\"], \"values\": [[d,ws,t,wd]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["964f5a32.793c38"]]},{"id":"964f5a32.793c38","type":"http request","z":"bee3cdb1.2982c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/8a833221-ca27-4684-a9a5-dcfaba8ff9d6/predictions","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":180,"wires":[["6af893d9.58e69c","bb8e73c6.efff8"]]},{"id":"10d66539.e0966b","type":"ui_text","z":"bee3cdb1.2982c","group":"138bca56.9875d6","order":2,"width":0,"height":0,"name":"","label":"Day 1","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":40,"wires":[]},{"id":"6af893d9.58e69c","type":"function","z":"bee3cdb1.2982c","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["10d66539.e0966b","2d6d2a78.0bf3d6"]]},{"id":"f5a47b1f.1fbd68","type":"ui_form","z":"bee3cdb1.2982c","name":"","label":"","group":"138bca56.9875d6","order":1,"width":0,"height":0,"options":[{"label":"Date/Time","value":"d","type":"text","required":true,"rows":null},{"label":"Wind_Speed_(m/s)","value":"ws","type":"number","required":true,"rows":null},{"label":"Theoretical_Power_Curve (KWh)","value":"t","type":"number","required":true,"rows":null},{"label":"Wind_Direction_(째)","value":"wd","type":"number","required":true,"rows":null}],"formValue":{"d":"","ws":"","t":"","wd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":280,"wires":[["ad7fe264.990a8"]]},{"id":"ad7fe264.990a8","type":"function","z":"bee3cdb1.2982c","name":"","func":"global.set(\"d\",msg.payload.d)\nglobal.set(\"ws\",msg.payload.ws)\nglobal.set(\"t\",msg.payload.t)\nglobal.set(\"wd\",msg.payload.wd)\nvar apikey=\"Wxvyk-6osfdLha9Uj8EAbsUzSKkeYCTMvKB5n0CPaNVh\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":160,"wires":[["1d5f27a7.fda968"]]},{"id":"bb8e73c6.efff8","type":"debug","z":"bee3cdb1.2982c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":240,"wires":[]},{"id":"2d6d2a78.0bf3d6","type":"ui_gauge","z":"bee3cdb1.2982c","name":"","group":"138bca56.9875d6","order":5,"width":0,"height":0,"gtype":"gage","title":"Day 1","label":"units","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":120,"wires":[]},{"id":"6b732e.10584cd4","type":"function","z":"bee3cdb1.2982c","name":"Pre Prediction","func":"var d = global.get('d')\nvar d1=d.split(\" \")\nvar d2 = Number(d1[0])+1;\n//var d3 = Number(d1[0])+2;\nvar d3=d2.toString()+d.substring(2,16)\nvar ws = global.get('ws')\nvar wd = global.get('wd')\nvar t = global.get('t')\nvar token=msg.payload.access_token\nvar instance_id=\"37f94100-9725-4e12-bfb0-b271976c93b2\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Date/Time\",\"Wind_Speed_(m/s)\",\"Theoretical_Power_Curve (KWh)\", \"Wind_Direction_(째)\"], \"values\": [[d3,ws-1,t-100,wd-10]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":380,"wires":[["631a069c.d57878"]]},{"id":"631a069c.d57878","type":"http request","z":"bee3cdb1.2982c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/8a833221-ca27-4684-a9a5-dcfaba8ff9d6/predictions","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":360,"wires":[["7a31a833.07a698"]]},{"id":"7a31a833.07a698","type":"function","z":"bee3cdb1.2982c","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":340,"wires":[["87077b3c.d2aab8","aae80565.cac548"]]},{"id":"87077b3c.d2aab8","type":"ui_text","z":"bee3cdb1.2982c","group":"138bca56.9875d6","order":3,"width":0,"height":0,"name":"","label":"Day 2","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":360,"wires":[]},{"id":"80011afa.ef6d78","type":"function","z":"bee3cdb1.2982c","name":"Pre Prediction","func":"var d = global.get('d')\nvar d1=d.split(\" \")\n//var d2 = Number(d1[0])+1;\nvar d3 = Number(d1[0])+2;\nvar d2=d3.toString()+d.substring(2,16)\nvar ws = global.get('ws')\nvar wd = global.get('wd')\nvar t = global.get('t')\nvar token=msg.payload.access_token\nvar instance_id=\"37f94100-9725-4e12-bfb0-b271976c93b2\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Date/Time\",\"Wind_Speed_(m/s)\",\"Theoretical_Power_Curve (KWh)\", \"Wind_Direction_(째)\"], \"values\": [[d3,ws+1,t+100,wd+10]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":480,"wires":[["1118b62d.2c8fda"]]},{"id":"1118b62d.2c8fda","type":"http request","z":"bee3cdb1.2982c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/8a833221-ca27-4684-a9a5-dcfaba8ff9d6/predictions","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":460,"wires":[["83fcc626.464828"]]},{"id":"83fcc626.464828","type":"function","z":"bee3cdb1.2982c","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":440,"wires":[["26b7c169.81389e","ce2e1ea4.b18e4"]]},{"id":"26b7c169.81389e","type":"ui_text","z":"bee3cdb1.2982c","group":"138bca56.9875d6","order":4,"width":0,"height":0,"name":"","label":"Day 3","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":460,"wires":[]},{"id":"4a6d4fdf.01c72","type":"ui_button","z":"bee3cdb1.2982c","name":"","group":"138bca56.9875d6","order":8,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":710,"y":40,"wires":[["d67cc175.7676b"]]},{"id":"d67cc175.7676b","type":"function","z":"bee3cdb1.2982c","name":"","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":80,"wires":[["aae80565.cac548","ce2e1ea4.b18e4","2d6d2a78.0bf3d6","10d66539.e0966b","87077b3c.d2aab8","26b7c169.81389e"]]},{"id":"ce2e1ea4.b18e4","type":"ui_gauge","z":"bee3cdb1.2982c","name":"","group":"138bca56.9875d6","order":6,"width":0,"height":0,"gtype":"gage","title":"Day 3","label":"units","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":420,"wires":[]},{"id":"aae80565.cac548","type":"ui_gauge","z":"bee3cdb1.2982c","name":"","group":"138bca56.9875d6","order":7,"width":0,"height":0,"gtype":"gage","title":"Day 2","label":"units","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":300,"wires":[]},{"id":"138bca56.9875d6","type":"ui_group","z":"","name":"prediction","tab":"dd590ee0.85665","order":1,"disp":true,"width":"6","collapse":false},{"id":"dd590ee0.85665","type":"ui_tab","z":"","name":"Prediction ","icon":"dashboard","disabled":false,"hidden":false}]